<h1 class="black-text">Today's challenges!</h1>

<% if @user_challenges.any? %>
  <div class="cards-div w-75">
  <% @user_challenges.each do |user_challenge| %>
      <div class="card-product mb-3">
        <%= cl_image_tag user_challenge.planning.activity.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos" data-toggle="modal" data-target="#<%= "activity-#{user_challenge.id}" %>">
            <h4><%= user_challenge.challenge.name %></h4>
            <% if user_challenge.status == "Completed" %>
              <%= user_challenge.status %>
            <% end %>
          </div>
        <div>
          <div class="modal fade" id="<%= "activity-#{user_challenge.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="vertical-alignment-helper">
              <div class="modal-dialog challenge vertical-align-center" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  </div>
                  <div class="modal-body d-flex justify-content-center">
                    <% if user_challenge.challenge.content.include? "youtube" %>
                      <iframe width="900" height="500" src=<%= user_challenge.challenge.content%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <% else %>
                      <h2><%= user_challenge.challenge.content %></h2>
                    <% end %>
                  </div>
                  <div class="modal-footer main-btn">
                    <% if user_challenge.status == "Not completed" %>
                      <% url = validate_user_challenge_path(user_challenge) %>
                      <%= simple_form_for(user_challenge,  remote: true, url: url, html: {method: :patch}) do |f| %>
                        <%= f.button :submit , value: "Completed", class: "btn btn-red"%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<% else %>
  <h2>No challenges!</h2>
<% end %>

